@import 'src/assets/styles/Colors.sass'

@keyframes rotate
    100%
        transform: rotate(360deg)
    
.preloader
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid $primary;
    border-radius: 50%;
    animation: rotate 1s linear infinite
    background: url('http://cdn.onlinewebfonts.com/svg/img_428919.png')
    background-size: cover