@import 'src/assets/styles/Colors.sass'
    
.header
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px
    text-align: center
    background: $header-background

    &__title
        display: flex
        justify-content: center
        align-items: center
        color: $primary
        fill: white

    &__subtitle
        color: $accent
        margin-bottom: 5px 

    &__navigation
        list-style: none

        &-link
            display: inline-block
            margin: 0 20px
            color: $primary
            text-decoration: none
            cursor: pointer

            &:hover
                text-decoration: underline

            a
                text-decoration: none

                &:visited
                    color: $primary
